.carousel {
  width: 65%;
}
.carousel-inner img {
  max-width: 100%;
  object-fit: contain;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('/images/back-body.png');
}
.container {
  flex-grow: 1
}
nav ul > li.active {
  border-bottom: thin solid #a94442;
}
.nav-item {
  padding: 0 18px;
}
.text-maroon {
  color: #a94442;
}